.Right {
  position: absolute;
  margin-left: var(--right-panel-margin-left);
  min-width: var(--right-panel-width);
  padding: var(--panel-padding);
  min-height: var(--panel-height);
  max-height: var(--panel-height);
}